*{
    margin-top: 50px;
}
body {
    background: #000000;
    display:flex;
    justify-content:space-evenly;
  }
  .box-one{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-two{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-three{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-four{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-one{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-two{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-three{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }
  .box-four{
    width:100px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
  }